{{/* boolean feature tags */}}
{{- $is_vm := false -}}{{/* true if this machine is is_vm, e.g. a cloud or VM instance */}}
{{ $vm_type := "bare-metal" }}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- if eq .chezmoi.os "linux" -}}
    {{/* 方法1：systemd-detect-virt */}}
    {{ if (stat "systemd-detect-virt") }}
        {{ $detected := (output "systemd-detect-virt" | trim) }}
        {{ if ne $detected "none" }}
            {{ $is_vm = true }}
            {{ $vm_type = $detected }}
        {{ end }}
    {{ end }}
{{ end }}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "zzm’s Laptop" -}}
{{-     $hostname = "zzms-laptop" -}}
{{-   else if eq $computerName "zzm’s MacBook Pro" -}}
{{-     $hostname = "zzms-mbp" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}



{{- $email := "molisiye@live.com" -}}
{{- if $work -}}
{{-   $email = "molisiye@live.com" -}}
{{- end -}}

[data]
    is_vm = {{ $is_vm }}
    email = {{ $email | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osId = {{ $osID | quote }}
    zshPlugins = [
        "per-directory-history",
        "vi-mode",
        "zsh-syntax-highlighting",
    ]
